node_modules/
dist/
*.tsbuildinfo
.DS_Store

# Android
packages/android/local.properties
packages/android/.gradle/
packages/android/build/
packages/android/app/build/
packages/android/app/src/main/assets/
*.keystore
*.jks
keystore.properties
